@black: #222222;
@white: #fbfbfb;
@lightgreen: #95eb95;
@darkgreen: #3aa53a;

body {
  margin: 0;
  padding: 0;
  background-color: @white;
  color: @black;
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

hr {
  border: 0;
  border-bottom: 1px solid @darkgreen;
  width: 80%;
}

.attribution-core {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: @white;
  text-align: right;
  padding: 1rem;
  bottom: 0;
  right: 0;
  font-size: 0.8rem;
  border-radius: 1rem 0 0;
  @media (max-width: 768px) {
    left: 0;
    border-radius: 0;
    text-align: center;
  }
}

.divider-img-wrapper {
  width: 70%;
  @media (max-width: 768px) {
    width: 100%;
  }
  height: 40vh;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  position: relative;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.4);

  .attribution {
    &::before {
      content: '📷 ';
    }
    .attribution-core
  }
}

.divider-img-wrapper-full {
  .divider-img-wrapper;
  width: 100%;
  height: 90vh;
}

a, a:focus, a:active, a:visited {
  transition: all 0.2s ease-in-out;
  color: @darkgreen;
  &:hover {
    color: lighten(@darkgreen, 20%);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rammetto One';
}

.wrapper {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > *:not(.divider-img-wrapper-full) {
    max-width: 60%;
    @media (max-width: 768px) {
      max-width: 80%;
    }
  }

  .directions {
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 768px) {
      flex-direction: column;
    }

    > div {
      padding: 0 1rem;
    }

    > #map, iframe {
      height: 500px;
      max-height: 50vh;
      width: 500px;
      min-width: 40%;
      @media (max-width: 768px) {
        width: 80%;
      }
      border: none;
    }
  }
}

.section {
  padding: 1rem;
  margin: 2rem 0;
}

.program {
  td {
    padding: 0.5rem;
    font-size: 1.5rem;

    &.time {
      font-size: 2rem;
    }
  }

  h3 {
    border-bottom: 4px solid @lightgreen;
  }
}

header {
  height: 100vh;
  @media (max-width: 768px) {
    height: 90vh;
  }
  width: 100%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.8);

  margin-bottom: 1rem;

  overflow: hidden;
  background-color: #000000;

  #logo {
    position: absolute;
    height: 80%;
    width: 50%;
    @media (max-width: 768px) {
      height: 90%;
      width: 80%;
    }

    background-image: url('/images/logo-2018-mm-transparent.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

footer {
  padding: 1rem;
}

#countdown {
  width: 100%;
}
