body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #f1f2f3;
  font-family: 'Ubuntu', 'Helvetica Neue', sans-serif;
  font-weight: 300;
}

img {
  margin: 1rem 0;
  max-width: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 1rem;
  min-height: 50%;
  width: 100%;
  @media (min-width: 992px) {
    width: 80%;
  }
}

header {
  padding: 2rem;
  text-align: center;

  font-family: 'Monoton';
  font-size: 2rem;
  @media (min-width: 768px) {
    font-size: 5rem;
  }
}

footer {
  padding: 1rem;
  font-size: 0.8rem;
}

.directions {
  width: 100%;
  display: flex;
  justify-content: center;
  @media (max-width: 768px) {
    flex-wrap: wrap;
  }
  > div {
    padding: 0 1rem;
  }
}

#countdown {
  width: 100%;
}

#map, iframe {
  height: 300px;
  width: 500px;
  max-width: 80%;
  border: none;
}
