@black: #222222;
@white: #fbfbfb;
@lightgreen: #95eb95;
@darkgreen: #3aa53a;

body {
  margin: 0;
  padding: 0;
  background-color: @white;
  color: @black;
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.divider-img-wrapper {
  width: 100%;
  height: 90vh;
  background-position: center;
  background-size: cover;
  position: relative;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.4);

  .attribution {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    bottom: 0;
    right: 0;
    font-size: 0.9rem;
    border-radius: 1rem 0 0;

    &::before {
      content: '📷 ';
    }
  }
}

a, a:focus, a:active, a:visited {
  transition: all 0.2s ease-in-out;
  color: @darkgreen;
  &:hover {
    color: lighten(@darkgreen, 20%);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rammetto One';
}

.wrapper {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > *:not(.divider-img-wrapper) {
    max-width: 60%;
    @media (max-width: 768px) {
      max-width: 80%;
    }
  }

  .directions {
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 768px) {
      flex-direction: column;
    }

    > div {
      padding: 0 1rem;
    }

    > #map, iframe {
      height: 500px;
      max-height: 50vh;
      width: 500px;
      min-width: 40%;
      @media (max-width: 768px) {
        width: 80%;
      }
      border: none;
    }
  }
}

.section {
  padding: 1rem;
  margin: 2rem 0;
}

header {
  height: 100vh;
  @media (max-width: 768px) {
    height: 90vh;
  }
  width: 100%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.8);

  margin-bottom: 1rem;

  overflow: hidden;
  background-color: #000000;

  #logo {
    position: absolute;
    height: 80%;
    width: 50%;
    @media (max-width: 768px) {
      height: 90%;
      width: 80%;
    }

    background-image: url('/images/logo-2018-transparent.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

footer {
  padding: 1rem;
  font-size: 2rem;
}

#countdown {
  width: 100%;
}
